/* setting default style for the main body of the App.js so that the footer can be positioned at the bottom of the page for the pages with different heights */
.app-body{
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
}
footer{
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
}

/* changes the cursor when you hover over the links in the nav bar */
li span:hover {
  cursor: pointer;
}

/* modifies the profile image in the about page */
.hero-img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75 );
}

/* blur the project image */
.img-blur{
  filter: blur(4px);
}

/* reset default underline and colour of the a tag */
a {
  all:unset;
}
a:hover {
  all:unset;
  cursor: pointer;
}

