/* changes the cursor when you hover over the links in the nav bar */
li span:hover {
  cursor: pointer;
}

/* modifies the profile image in the about page */
.hero-img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75 );
}

/* blur the project image */
.img-blur{
  filter: blur(4px);
}

/* reset default underline and colour of the a tag */
a {
  all:unset;
}
a:hover {
  all:unset;
  cursor: pointer;
}